
:root{
    --base-size:16px;
	--padding:12px;
	--body-black:#222222;
	--red:#DD1E26;
	--background:#FFF8E5;
}

*{
	background-color: var(--background);
}

p{
	font-family: 'Courier New', Courier, monospace;
	line-height: 160%;
	color: var(--body-black);
	padding-left: var(--padding);
	padding-right: var(--padding);
	padding-top: var(--padding);
	margin-top: var(--padding);
}

h1{
	font-family: 'Climate Crisis';
	color: var(--red);}

cite{
	font-family: 'Anton';
	color: var(--red);
	letter-spacing: 10px;
}

h2{
    font-family: 'Anton';
    color: var(--background);
    -webkit-text-stroke: 1px #DD1E26;
    text-align: center;
    font-size: calc(var(--base-size)*1.8);
    margin: var(--padding);
}

blockquote{
	font-family: 'Anton';
	font-size: calc(var(--base-size)*1.4);
	text-align: left;
	color: var(--red);
	margin: var(--padding);
	position: relative;
	padding: 20px 0;
	border-top: 8px solid var(--red);
	border-bottom: 8px solid var(--red);
}