
:root{
    --base-size:16px;
	--padding:12px;
	--body-black:#222222;
	--red:#DD1E26;
	--background:#FFF8E5;
}

section {
    background-color: var(--background); /* Replace with your desired color */
}


p{
	font-family: 'Courier New', Courier, monospace;
	line-height: 160%;
	color: var(--body-black);
	padding-left: var(--padding);
	padding-right: var(--padding);
	padding-top: var(--padding);
	margin-top: var(--padding);
}

h1{
    font-family: 'Anton';
    color: var(--background);
    -webkit-text-stroke: 1px #DD1E26;
    text-align: center;
    font-size: calc(var(--base-size)*2.5);
    padding-bottom: 0;
    margin-bottom: 0;
	background-color: var(--background);
}


.Title {
    font-family: 'Climate Crisis';
    font-size: calc(var(--base-size)*2.6);
    letter-spacing: -3px;
    color: var(--red);
    text-align: center;
    text-transform: lowercase;
    display: inline-block; 
   }

   .NotTitle{
    letter-spacing: 20px;
    text-align: center;
  }


cite{
	font-family: 'Anton';
	color: var(--red);
	letter-spacing: 12px;
    text-align: center;
}

h2{
    font-family: 'Anton';
    color: var(--background);
    -webkit-text-stroke: 1px #DD1E26;
    text-align: center;
    font-size: calc(var(--base-size)*1.8);
    margin: var(--padding);
	background-color: var(--background);

}




.nav-button {
    position: absolute;
    top: 20px;
    width: 90px; /* Button size */
    height: 90px;
    background-color: var(--red); 
    color: var(--background);
    font-family: 'Climate Crisis';
    font-size: 60px;
    line-height: 90px;
    text-align: center;
    border: none;
    border-radius: 0px;
    transition: transform 0.3s ease, background-color 0.3s ease;
    z-index: 10;
    display: none; /* Dont want this on mobile yet */
  }

  .home-button {
    left: 20px; 
  }
  
  .next-button {
    right: 20px; 
  }


.nav-button:hover {
    transform: scale(1.1);
  }