/* This direction is to show "rebel"-nss using glitchy distorted fonts on header and hover */
:root {
    --base-font-size: 16px; 
}

body {
    margin: 0;
    padding: 0;
	font-family: 'Courier New', monospace; 
    background-color: black;
    color: white;
    padding: 20px;
}


h1 {
    font-size: 8em; 
    line-height: 1;
    color: white;
    text-transform: uppercase;
    margin: 20px;
    padding: 10px 20px;
	font-family: 'Courier New', monospace;
    transition: all 0.3s ease; 
    flex-shrink: 0; 
    max-width: 100%; 
    width: 100%;
    text-align: left; 
}

h3{
	padding-top: 10px;
	padding-bottom: 10px;
}

.glitch, .question-mark {
    font-family: 'Rubik Glitch', sans-serif;
    color: white;
    text-shadow: 2px 0 #00ff00, -2px 0 #ff00ff; 
    transition: none; 
}

@keyframes glitch-animation {
    0% {
        text-shadow: 2px 0 #00ff00, -2px 0 #ff00ff;
    }
    20% {
        text-shadow: -2px -2px #00ff00, 2px 2px #ff00ff;
    }
    40% {
        text-shadow: 2px 2px #00ff00, -2px -2px #ff00ff;
    }
    60% {
        text-shadow: -2px 0 #00ff00, 2px 0 #ff00ff;
    }
    80% {
        text-shadow: 2px -2px #00ff00, -2px 2px #ff00ff;
    }
    100% {
        text-shadow: 2px 0 #00ff00, -2px 0 #ff00ff;
    }
}


@media (max-width: 768px) {
    .glitch {
        animation: glitch-animation 3s infinite;
    }

   
    h1 {
        font-size: 3em;
        margin: 10px 0;
    }



    .article-content {
        margin: 20px 0;
        font-size: 1rem;
        line-height: 1.6;
    }

	.author, h3 {
        color: #FF00FF;
        text-shadow: 2px 0 #00FFFF, -2px 0 #FF00FF, 0 2px #00FFFF, 0 -2px #FF00FF; 
    }


}


@media (min-width: 769px) {
    body {
        display: flex;
        justify-content: space-between; 
    }

    h1 {
        flex-shrink: 0; 
    }

    .article-content {
        flex-grow: 1; 
        margin: 40px;
        font-size: 1rem;
        line-height: 1.6;
        max-width: 600px;
    }

	.glitch {
        transition: text-shadow 0.3s ease;
    }

    .glitch:hover {
        animation: glitch-animation 3s infinite;
    }

}



.author, h3 {
    font-family: 'Courier New', monospace; 
    font-weight: bold;

}


.author:hover, h3:hover {
    color: #FF6347; 
    text-shadow: 4px 0 #FF6347, -4px 0 #FF00FF, 0 4px #FF6347, 0 -4px #FF6347; /* Stronger glitch effect */
    transform: skew(-5deg) translateX(10px); /* Skew text to create a "broken" feel */
}